*{
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: brown;
    padding: 9px;
    margin: 9px;
}

h2{
    text-align: center;
    color: blue;
    padding: 9px;
    margin: 9px;
}

h3{
    text-align: center;
    color: blue;
    padding: 9px;
    margin: 9px;
}

article{
    padding: 9px;
    text-align: center;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.flexBoxVariable{
    display: flex;

}

.flexBoxVariable P{
    padding: 9px;
    margin: 9px;
    width: 30%;
}
