*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: coral;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}


nav ul{
    list-style: none;
}

h2{
color: red;
    text-decoration: underline 1px solid red;
    padding: 9px;
}

.bigH2{
    display: flex;
    justify-content: center; 
    font-size: 35px;
    color: chocolate;
    padding: 9px;   
    border-radius: 3px ;
}

.greenTxt{
    color: green;
}

.redTxt{
    color: red;
}

.blackTxt{
    color: black;
}

.blueTxt{
    color: blue;
}

.txtCenter{
    text-align: center;
}

.sectionContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionContainer section {
    width: 22%;
    margin: 9px ;
}

.hide{
    display: none;
}

.inner{
    text-align: center;
}

.inner h3{
    padding: 9px;
    margin: 9px;
}

.createlement{
    display: flex;
    justify-content: space-around;
    padding: 9px;
    margin: 9px;
}

.imgCodeJs{
    display: flex;
    justify-content: center;
}

#burgerMenu{
    display: flex;
    justify-content: center;
    padding: 9px;
    margin: 9px;
}

.conditionLogique{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenerConditionLogique{
    display: flex;
    justify-content: space-around;
    padding: 9px;
    margin: 9px;
}

.imgConditionLogique{
    display: flex;
    justify-content: center;
}


.sectionCondition h2{
    text-align: center;
}

.sectionBoucle{
    text-align: center;
    padding: 9px;
    margin: 9px;
}

.sectionBoucle *{
    padding: 9px;
}
