*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background: coral;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

.tag{
    position: relative;
    padding: 0 14px;
}

.tag:before {
    content: "<";
    position: absolute;
    left: 2px;
    bottom:-3px;
}

.tag:after {
    content: ">";
    position: absolute;
    right: 2px;
    bottom: -3px;
}

.selector{
    font-weight: bolder;
    color: red;
    font-size: 1.2em;
    margin: 0 9px;
}

/* selecteur CSS */

#selectorCssContainer section, #parametreCss .paramContainer{
    display: flex;
    flex-wrap: wrap;
}

#selectorCssContainer details{
    margin: 9px;
    width: auto;
    min-width: 100px;
    border: solid 1px blue;
    padding: 9px;
}

/* parametre CSS */

.paramContainer h5{
    text-align: center;
}

.propsContainer{
    display: flex;
}

.propsContainer div{
    margin:0 9px;
    border: solid black 1px;
    padding: 9px;
}