*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: chocolate;
    padding: 9px;
}

h1{
    text-transform: uppercase;
    color: white;
}

.structureHtml{
    width: 50%;
    margin: 0 auto;
}

.structureHtml *{
    border-radius: 5px;
    background: none;
    padding: 5px;
    margin: 9px;
    text-transform: capitalize;
    font-weight: bolder;
}

.structureHtml header{
    border: solid 5px rgb(36, 192, 75) ;
    display: block;

}

.structureHtml nav{
    border: solid 5px rgb(240, 114, 219) ;
}


.structureHtml article{
    display: inline-block;
    width: 70%;
    vertical-align: bottom;
    height: 240px;
    border: solid 5px rgb(151, 10, 151) ;
}

.structureHtml section{
    border: solid 5px rgb(182, 20, 20) ;
}


.structureHtml footer{
    border: solid 5px rgb(231, 235, 7) ;
}

.structureHtml .inside{
    display: inline-block;
    width: 25%;
    height: 240px;
    border: solid 5px rgb(219, 158, 27) ;
}

.structureHtml aside{
    border: solid 5px rgb(14, 215, 230) ;
}

.structureHtml .contener{
    display: flex;
}