*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    background: chocolate;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

.greenTxt{
color: green;
}

.redTxt{
    color: red;
}

.blackTxt{
    color: black;
}

.blueTxt{
    color: blue;
}